.table {
    &__warehouse-manager {
        &-actionPopup {
            width: 130px;
            cursor: pointer;
            background: #fff;
            box-shadow: 1px 2px 8px rgb(34 62 98 / 15%);
            border-radius: 4px;
            position: absolute;
            top: 80%;
            right: 10px;
            z-index: 9999;
            text-align: left;
            padding: 1rem;
            color: #6e6d7a;

            .drop-edit {
                p {
                    margin-left: 12px;
                }

                &:hover {
                    p {
                        color: #1E9A98;
                    }

                    svg path {
                        stroke: rgb(30, 154, 152);
                    }
                }
            }

            .drop-delete {
                margin-top: 1rem;
                display: flex;

                p {
                    margin-left: 12px;
                }

                &:hover {
                    p {
                        color: rgb(255, 66, 78);
                    }

                    svg path {
                        stroke: rgb(255, 66, 78);
                    }
                }
            }
        }
    }
}

.table_icon {
    position: relative;
    cursor: pointer;
}

.tooltipv2-warehouse-name {
    max-width: 210px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltipv2-warehouse-address {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1680px) {
    .tooltipv2-warehouse-name {
        max-width: 170px;
    }
}

@media only screen and (max-width: 1440px) {
    .tooltipv2-warehouse-name {
        max-width: 150px;
    }
}