.oder-history-step {
    display: flex;
    align-items: center;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #00081D;

        margin-left: 0.5rem;
    }
}