.d-tags-status {
    width: 100%;
    height: 100%;
    max-width: 1355px;
    max-height: 50px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__title-500 {
        width: max-content;
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        color: #00081D;
        margin: 0 0.3rem 0 0.4rem;
        cursor: pointer;

        &:hover {
            color: #1E9A98;
        }
    }

    &__title-600 {
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        color: #00081D;
        margin-right: 0.25rem;

        cursor: pointer;

        &:hover {
            color: #1E9A98;
        }
    }

    &__drop-title-500 {
        width: max-content;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #00081D;
        margin: 0 0.3rem 0 0.4rem;
        cursor: pointer;

        &:hover {
            color: #1E9A98;
        }
    }

    &__name-green {
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        color: #1E9A98;
    }

    &__option-total {
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        color: #7C88A6;
        cursor: pointer;
    }

    &__box-gray {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 41px;
        height: 24px;

        background: linear-gradient(0deg, rgba(235, 240, 250, 0.98), rgba(235, 240, 250, 0.98)), #00081D;
        border-radius: 4px;

        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #00081D;

        padding: 3px 6px;
    }

    &__box-green {
        min-width: 41px;
        height: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #1E9A98;
        border-radius: 4px;

        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #FFFFFF;

        padding: 3px 6px;
    }

    &__icon-arr {
        display: flex;
        margin-right: 0.25rem;
        cursor: pointer;


        &[data-active="true"] {
            transform: rotate(0);

            display: block !important;
        }

        &[data-active="true"] {
            transform: rotate(180deg);

            display: block !important;
        }
    }
}