.productRevenue-management-table {

  &__row {
    &[data-active="true"] {
      background: #f3f6fc;
    }

    &:hover {
      .productRevenue-management-table__detail-toggle {
        display: block;
      }
    }
  }

  &__cell {

    display: flex;
    justify-content: flex-end;
    &[data-menu="true"] {
      position: relative;
    }

    &[data-type="td"] {
      justify-content: flex-end;
      &:nth-child(1) {
        justify-content: center;
        text-align: center;
      }

      &:nth-child(2) {
        justify-content: center;
      }
    }

    &[data-type="th"] {
      padding: 3px 12px !important;

      &[data-selected="true"] {
        display: flex;
        flex: 1;
        align-items: center;
      }
    }

    &:nth-child(1) {
      width: 42px;
      text-align: center;
      display: block;
      align-items: center;
    }

    &:nth-child(2) {
      display: block;
      width: 240px;
      flex: 1;
    }

    &:nth-child(3) {
      width: 100px;
      display: flex;
      text-align: center;
      justify-content: center;
      p{
        width: 100% !important;
      }
    }

    &:nth-child(4) {
      width: 150px;
      text-align: right;
    }

    &:nth-child(5) {
      width: 150px;
      text-align: right;
    }

    &:nth-child(6) {
      display: flex;
      width: 150px;
      text-align: center;
      justify-content: center;
    }

    &:nth-child(7) {
      width: 150px;
      text-align: right;
    }

    &:nth-child(8) {
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 600;
    }
    &:nth-child(9) {
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 600;
    }
    &:nth-child(10) {
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 600;
    }
    &:nth-child(11) {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 600;
    }
    &:nth-child(12) {
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 600;
      span{
        text-align: center;
      }
    }
  }

  &__detail-toggle {
    position: absolute;
    top: 35%;
    right: -15px;

    min-width: 70px;

    display: none;
    background: unset;
    border: unset;

    transition: all .25s;

    &[data-active="true"] {
      img {
        transform: rotate(0);
      }

      display: block !important;
    }

    &[data-active="true"] {
      img {
        transform: rotate(180deg);
      }

      display: block !important;
    }


    &:hover {
      background: unset;
      border: unset;
    }
  }

  &__container-table {
    width: 100%;
  }

  &__tooltipV2 {
    display: -webkit-box;
    height: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

#content-wrap[data-expand='true'] {
  .productRevenue-management-table {
    &__row{
      width: 1900px!important;
    }
  }
}