.capital-adjustment-create-modal{
  &_confirm{
    width: 480px;
    height: 204px;
  }

  &_group{
    height: 92px;
  }
  &_txt{
    margin-top: 24px;
  }
  &_dismiss{
    .confirm-popup__save{
      width: 110px;
      height: 32px;
      font-size: 14px;
      padding:0;
    }
    .confirm-popup__dismiss{
      width: 56px;
      height: 32px;
      font-size: 14px;
      padding:0 !important;
    }
  }
}