@import "src/Component/mixin";
.product-group-modal_confirm{
    width : 480px;
    height: auto!important;
    padding: 24px;
    .product-group-modal_txt{
        margin-top: 24px;
    }
    .product-group-modal_dismiss{
        button{
            width: 110px;
            height: 32px;
            padding: 0;
        }
    }
}
.enable-confirm,.create-confirm{
    width : 640px!important;
}
@include desktop_large_max{
    .product-group-modal_confirm{
        width : 480px;
        height: auto;
        padding: 24px;
        margin: 14rem auto 0 26rem;
    }
}
@include  desktop_width_1280{
    .product-group-modal_confirm{
        width : 480px;
        height: auto;
        padding: 24px;
        margin: 14rem auto 0 28rem;
    }
}