@import "../../../../Component/mixin/index";

.order-filter-more__content {
  margin: 0 !important;

  .order-filter-more__item {
    margin-top: 1rem !important;
  }
}



.order-header {
  background: white;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 1rem;
  position: relative;

  .order-filter {
    display: flex;
    max-height: 2.125rem;

    &__plus {
      background-color: #2BB8A9;
      border: none;
      border-radius: var(--border-radius-component);
      padding: .2rem .3rem !important;

      margin-left: .75rem;
      max-height: 2.125rem;
      position: relative;

      &.active {
        background: var(--color-active);
      }

      &.change:before {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        right: -.25rem;
        top: -.3125rem;
        background: var(--plum-color);
      }

      svg {
        margin-top: .2rem;
      }
    }

    &-apply {
      margin-left: .75rem;
      max-height: 2.125rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.order-filter-apply {
  position: absolute;
  top: 1rem;
  left: 36rem;

  @include desktop_min {
    left: 37.5rem;
  }
}

.order-filter-more {
  &__general {
    position: relative;
    max-width: 24.5rem;
    padding-right: .25rem;

    &-select {
      height: 2.125rem;
      width: 100%;
      padding: .35rem .75rem;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      border: 1px solid var(--background-border);
      border-radius: var(--border-radius-component);

      display: flex;
      justify-content: space-between;
      cursor: pointer;

      svg {
        margin-top: .35rem;
        transition: all .5s;

        path {
          fill: rgba(124, 136, 166, 1);
        }
      }

      &.active {
        border: 1px solid var(--bg-pr-large-default);

        svg {
          transform: rotate(180deg);
          transition: all .5s;
        }

        .order-placehoder {
          position: absolute;
          top: -.8rem;
          background: white;
        }
      }

      .order-placehoder.active {
        position: absolute;
        top: -.8rem;
        background: white;
      }
    }

    &-option {
      margin-top: .25rem;
      background: var(--white-color);
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius-component);
      padding: .5rem;
      max-height: 20rem;
      overflow-y: scroll;

      position: absolute;
      width: 100%;
      z-index: 1;

      p {
        padding: .625rem .75rem;
        border-radius: var(--border-radius-component);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        &:hover {
          //background: var(--li-hover);
          color: var(--bg-pr-large-hover);
          cursor: pointer;
        }
      }

      .order-filter-more__general-group {
        display: flex;
        align-items: center;
        padding: .5rem;

        &.dropdown-item input {
          position: relative;
        }

        &.dropdown-item input:before {
          content: "";
          display: block;
          position: absolute;
          width: 1.125rem;
          height: 1.125rem;
          top: -1px;
          left: -2px;

          background-color: #F5F5FA;
          border: 1px solid #DDDDE3;
          border-radius: var(--border-small-radius);
        }

        &.dropdown-item input:checked:before {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          top: -1px;
          left: -2px;
          background-color: #2BB8A9;
        }

        &.dropdown-item input:checked:after {
          content: "";
          display: block;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 3px;
          left: 6px;
        }
      }

      .order-filter-more__general-item {
        padding: .625rem .75rem;
        border-radius: var(--border-radius-component);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        &:hover {
          //background: var(--li-hover);
          color: var(--bg-pr-large-hover);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .order-filter__advance-count {
    width: 1.1rem;
    height: 1.1rem;
  }
}