.empty__warehouse-manager_table {
  width: 100%;
  height: 610px;
  text-align: center;
  padding: 0 !important;
  .empty__warehouse-manager {
    width: 100%;

    .tr__container {
      height: 610px;
      display: block;
      padding-top: 10rem;
      background: #ffffff !important;
    }
    &-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #7c88a6;
    }

    &-create {
      margin-top: 12px;
    }
  }
}
