.warehouse-report-import-export{

  .table-layout__table-container{
    cursor: default;
  }
}
#content-wrap[data-expand=true] {
  .report-table__import-export-row {
    @media screen and (max-width: 1440px){
      width: 1288px !important;
    }
    @media screen and (max-width: 1366px){
      width: 1214px !important;
    }
    @media screen and (max-width: 1280px){
      width: 1128px !important;
    }

  }
}
