@import "../../../../Component/mixin/index.scss";

.customer-filter-more {

  &__grp-date {
    position: relative;
    max-width: 24.5rem;
    // padding-right: .25rem;

    input {
      width: 100%;
      max-height: 2.125rem;
      padding: .5rem 2.375rem .5rem .75rem;
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;

      border: 1px solid var(--background-border);
      border-radius: var(--border-radius-component);

      position: absolute;
      top: 0;
      text-align: right;
    }
  }

  &__date {
    width: 7rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    position: absolute;
    top: .4rem;
    left: .75rem;
    z-index: 6;


    &-select {
      display: flex;
      cursor: pointer;

      svg {
        margin: .35rem 0 0 .35rem;
        transition: all .5s;

        path {
          fill: rgba(124, 136, 166, 1);
        }
      }

      &.active {
        svg {
          transform: rotate(180deg);
          transition: all .5s;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: .3rem;
        left: 6.7rem;

        width: 1px;
        height: .75rem;
        background: rgba(235, 238, 245, 1);
      }

      &:hover{
        color: #1E9A98;
      }
    }

    &-option {
      margin: 1rem 0 0 -.875rem;
      background: var(--white-color);
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius-component);
      padding: .5rem;
      max-height: 17.25rem;
      overflow-y: scroll;

      p {
        padding: .5rem;
        border-radius: var(--border-radius-component);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        &:hover {
          background: var(--li-hover);
          color: var(--bg-pr-large-hover);
          cursor: pointer;
        }
      }
    }

    &-calendar {
      position: absolute;
      top: .5rem;
      right: .75rem;
      cursor: pointer;
      z-index: 6;
      background: white;
      max-height: 1.25rem;
    }
  }
}

@media screen and (max-width: 1440px) {
  .customer-filter-more__date-select {
    // margin-top: -.125rem;
    width: 8rem;
  }

  .customer-filter-more__date-calendar {
    top: .3rem;
  }

  .customer-filter-more__grp-date {
    input::placeholder {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 15rem;
      height: 1.2em;
      white-space: nowrap;
      padding-left: 9rem;
    }
  }

  .customer-filter-more__date-option {
    width: 9rem;
  }

  .customer-filter-more__date-select:before {
    left: 8rem;
  }
}