.panel-content {
  padding-top: 1rem;

  .panel-item {
    padding: 8px 16px;
    border: 1px solid #EBEEF5;
    border-radius: 6px;
    margin-right: 0.75rem;
    text-align: center;
    .text-panel{
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #7C88A6;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        margin-right: 0.3125rem;
      }
      margin-bottom: 0.25rem;
    }
    .value-panel{
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #00081D;
    }
  }

  :nth-child(4) .panel-item{
    margin-right: 0;
  }
}